<!doctype html>
<html ng-app="YouZanIn">
    <head>
        <title>BigScript</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta name="format-detection" content="telephone=no"/>
        <meta http-equiv="cleartype" content="on">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        <link rel="icon" href="">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/kof13.css">
    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        <!-- Navbar
        ================================================== -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                  <a class="brand" href="./index.html">KOF13</a>
                  <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active">
                                <a href="/index.html">主页</a>
                            </li>
                            <li>
                                <a href="/behavior.html">人物出招表</a>
                            </li>
                            <li>
                                <a href="/game.html">进入游戏</a>
                            </li>
                            <li>
                                <a href="/helpers/license.html">关于我们</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <header id="overview">
            <div class="container">
                <div class="logo"></div>
            </div>
        </header>


        <div class="container" id="slider">
            
        </div>

        <!-- Footer
        ================================================== -->
        <footer class="footer">
          <div class="container">
            <p>本款游戏由热爱web游戏的工程师<a href="http://ibashao.com" target="_blank">@巴韶</a>开发。</p>
            <p>
                Code licensed under <a href="helpers/license.html" target="_blank">MIT License</a>.
            </p>
            <ul class="footer-links">
              <li><a href="http://www.ibashao.com">Blog</a></li>
            </ul>
          </div>
        </footer>
    </body>
</html>
